

.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.dashboard-header {
    text-align: center;
    padding: 10px;
    background-color: #4caf50;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    margin-bottom: 20px;
}

.dashboard-cards {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: space-around;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.card p {
    font-size: 2em;
    margin: 0;
}

.card-total-books { background-color:#007bff; }
.card-books-borrowed { background-color: #dc3545; }
.card-books-available { background-color: #17a2b8; }

.dashboard-content {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-direction: column;
}

.dashboard-section {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-section h2 {
    color: #343a40;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.stat-card, li {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    align-items: center;
}

li::before {
    content: '📖';
    margin-right: 10px;
}
