
<body class="background">
  <div class="manage-member-container">
    <h2>Manage Members</h2>
  
    <table>
      <thead>
        <tr>
          <th>Count</th>
          <th>Member Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone number</th>
          <th>Address</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of memberList; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ member.memberId }}</td>
          <td>{{ member.memberName }}</td>
          <td>{{ member.memberEmail }}</td>
          <td>{{ member.memberPhone }}</td>
          <td>{{ member.memberAddress }}</td>
          <td>
            <button (click)="deleteMember(member.memberId)" class="delete-button">Delete</button>
          </td>
          <td>
            <button (click)="updateMember(member)" class="update-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" [(ngModel)]="memberTemp.memberName"  id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" [(ngModel)]="memberTemp.memberEmail" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" [(ngModel)]="memberTemp.memberPhone"  id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Address:</label>
            <input type="text" class="form-control" [(ngModel)]="memberTemp.memberAddress" id="recipient-name">
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveMember()" data-bs-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
