<div class="abc" style="background-color: #436588">
  <div class="hero-section">
    <div class="hero-content">
      <h1>Step into</h1>
      <button class="button" data-text="Awesome">
        <span class="actual-text">&nbsp;BookNest&nbsp;</span>
        <span aria-hidden="true" class="hover-text">&nbsp;BookNest&nbsp;</span>
      </button>

      <p>
        A System that simplifies managing books, members, and transactions,
        making it easy to track, borrow, and return library resources
        efficiently.
      </p>
      <button class="learn-more" type="submit" (click)="onSubmit()">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text" routerLink="app-log-in-page"
          >Get Started</span
        >
      </button>
    </div>
  </div>
</div>
