<nav class="navbar">
  <div class="navbar-brand">📚 Library Management System</div>
  <div class="navbar-links" [ngClass]="{ 'active': isNavbarOpen }">
    <a routerLink="dashBoard" routerLinkActive="active">Dashboard</a>
    <a routerLink="AddBooks" routerLinkActive="active">Add Books</a>
    <a routerLink="ManageBooks" routerLinkActive="active">Manage Books</a>
    <a routerLink="AddMembers" routerLinkActive="active">Add Members</a>
    <a routerLink="ManageMembers" routerLinkActive="active">Manage Members</a>
  </div>
</nav>


