<nav class="navbar">
  <div class="navbar-brand">📚 BOOKNEST</div>
  <div class="navbar-links" [ngClass]="{ active: isNavbarOpen }">
    <a routerLink="main" routerLinkActive="active">Main</a>
    <a routerLink="AddBooks" routerLinkActive="active">Add Books</a>
    <a routerLink="ManageBooks" routerLinkActive="active">Manage Books</a>
    <a routerLink="AddMembers" routerLinkActive="active">Add Members</a>
    <a routerLink="ManageMembers" routerLinkActive="active">Manage Members</a>
    <a routerLink="AddBorrowers" routerLinkActive="active">Add Borrower</a>
    <a routerLink="ManageBorrowers" routerLinkActive="active">Manage Borrower</a>
  </div>
</nav>
