<body class="background">
    <div class="add-book-container">
      <h2>Add a New Book</h2>
      <form #bookForm="ngForm">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            id="bookName"
            name="bookName"
            [(ngModel)]="book.bookName"
            required
            placeholder="Enter book title"
          />
        </div>
    
        <div class="form-group">
          <label for="category">Category</label>
          <input
            type="text"
            id="bookCategory"
            name="bookCategory"
            [(ngModel)]="book.bookCategory"
            required
            placeholder="Enter category"
          />
        </div>
    
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            id="bookAuthor"
            name="bookAuthor"
            [(ngModel)]="book.bookAuthor"
            required
            placeholder="Enter author name"
          />
        </div>
    
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="text"
            id="bookPrice"
            name="bookPrice"
            [(ngModel)]="book.bookPrice"
            required
            placeholder="Enter price"
          />
        </div>
    
        <div class="form-group">
          <label for="qty">Qty</label>
          <input
            type="text"
            id="bookQty"
            name="bookQty"
            [(ngModel)]="book.bookQty"
            required
            placeholder="Enter Qty"
          />
        </div>
        
        <button class="button2" [disabled]="bookForm.invalid" (click)="onSubmit()">Add Book</button>
  
      </form>
    </div>
  </body>
  
